<div *ngIf="raceModel && poniesWithPosition">
  <h2>{{ raceModel.name }}</h2>

  <div class="alert alert-danger" *ngIf="error">A problem occurred during the live.</div>

  <div id="live-race" [ngSwitch]="raceModel?.status">
    <!-- status FINISHED -->
    <div *ngSwitchCase="'FINISHED'">
      <div *ngIf="!winners.length; else displayWinners">The race is over.</div>
      <ng-template #displayWinners>
        <div class="alert alert-success" *ngIf="betWon">You won your bet!</div>
        <div class="alert alert-warning" *ngIf="raceModel.betPonyId && !betWon">You lost your bet.</div>
        <div>Most Valuable Ponies</div>
        <div class="row">
          <div *ngFor="let winner of winners" class="col-12 col-md-2" [class.selected]="winner.id === raceModel.betPonyId">
            <pr-pony [ponyModel]="winner"></pr-pony>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- status PENDING -->
    <div *ngSwitchCase="'PENDING'">
      <div>The race will start {{ raceModel.startInstant | fromNow }}</div>
      <div class="row">
        <div *ngFor="let pony of raceModel.ponies" class="col-sm-2" [class.selected]="pony.id === raceModel.betPonyId">
          <pr-pony [ponyModel]="pony"></pr-pony>
        </div>
      </div>
    </div>

    <!-- status RUNNING -->
    <div *ngSwitchCase="'RUNNING'">
      <div class="containerFlag">
        <span class="fa fa-flag"></span>
      </div>
      <div class="raceTracks">
        <div *ngFor="let pony of poniesWithPosition trackBy ponyById" 
              class="pony-wrapper" 
              [class.selected]="pony.id === raceModel.betPonyId" 
              [style.marginLeft.%]="pony.position - 5">
          <pr-pony [ponyModel]="pony" 
                    [isRunning]="true" 
                    [isBoosted]="pony.boosted" 
                    (ponyClicked)="onClick(pony)"></pr-pony>
        </div>
      </div>
    </div>

  </div>

</div>
