<form [formGroup]="userForm" (ngSubmit)="register()">
  <!-- input login -->
  <div class="form-group">
    <label for="login" pr-form-label>Login</label>
    <input id="login" type="text" class="form-control" formControlName="login">
    <div class="invalid-feedback">
        <!-- error required -->
      <span *ngIf="loginCtrl.hasError('required')">Login is required</span>
      <!-- error minlength -->
      <span id="login-length-error" *ngIf="loginCtrl.hasError('minLength')">Your login should be at least 3 characters</span>
    </div>
  </div>

  <!-- form group passwordForm -->
  <section formGroupName="passwordForm">

    <!-- input password -->
    <div class="form-group">
      <label for="password" pr-form-label>Password</label>
      <input id="password" type="password" class="form-control" formControlName="password">
      <!-- error required -->
      <div class="invalid-feedback" *ngIf="passwordCtrl.hasError('required')">
        Password is required
      </div>
    </div>

    <!-- input confirmPassword -->
    <div class="form-group">
      <label for="confirmPassword" pr-form-label>Confirm password</label>
      <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword">
      <!-- error required -->
      <div class="invalid-feedback" *ngIf="confirmPasswordCtrl.hasError('required')">
        Password is required
      </div>
    </div>

    <!-- error matchingPassword -->
    <div class="d-block invalid-feedback" id="password-matching-error" *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')">
      Your password does not match
  </div>
  </section>

  <!-- input birthYear -->
  <div class="form-group">
    <label for="birthYear" pr-form-label>Birth Year</label>
    <input id="birthYear" type="number" class="form-control" formControlName="birthYear">
    <div class="invalid-feedback"  >
        <!-- error required -->
      <span *ngIf="birthYearCtrl.hasError('required')">Birth year is required</span>
      <!-- error min / max -->
      <span id="invalid-year-error" *ngIf="birthYearCtrl.hasError('min') || birthYearCtrl.hasError('max')"> This is not a valid year</span>
    </div>
  </div>

  <!-- erreur registration -->
  <pr-alert id="registration-error" type="danger" *ngIf="registrationFailed" [dismissible]="false">
    Try again with another login.
  </pr-alert>

  <!-- bouton submit -->
  <button type="submit" class="btn" [ngClass]="{'btn-primary': userForm.valid}" [disabled]="userForm.invalid">Let’s go!</button>
</form>
